<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="maven" version="1">
<about>
    <name>Maven Nexus plugin</name>
    <version>0.1.0</version>
    <target-go-version>13.3</target-go-version>
    <description>Polls a Nexus repository</description>
    <vendor>
        <name>Sriram Narayan</name>
        <url>https://github.com/ThoughtWorksInc/go-maven-poller/blob/master/README.md</url>
    </vendor>
</about>
</go-plugin>

